//TOPBAR ////////////////////////////
//////////////////////////////////////
.w100 {
    width: 100%;
}

#buf_topbar {
    //opacity:0;
    display: flex;
    align-items: center;

    &.buf_topbar_off {
        //opacity:0;
    }

    &.buf_show_on_scroll {
        z-index: 99;
    }
}




#buf_topbar_oc {
    display: flex;
    align-items: center;
}

div.buf_topbar_on,
div.buf_topbar_oc_on {
    height: $buf_topbar_height;

    &.buf_show_on_scroll {
        z-index: 99;
    }

    div.buf_topbar_logo {
        display: flex;
        width: 100%;
        height: auto;

        img {
            max-height: $buf_topbar_height;
            width: auto;
        }
    }

    &.buf_oc_hide {
        display: none;
    }
}

#buf_offcanvas div.offcanvas-inner {

    &.buf_topbar_oc_1,
    &.buf_topbar_oc_on {
        height: calc(100% - #{$buf_topbar_oc_height});
        margin-top: $buf_topbar_oc_height;
    }
}


div.buf_offcanvas {
    display: none;
}

div.offcanvas-button {
    display: none;
}