i.buf_hide {
  display: none;
}

.j4_hidden {
  display: none;
}

joomla-tab > ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
div.buf_title_wrapper{
	display: flex;
	>.control-label{
		width: auto;
	}
	.controls{
		margin-left: 0px;
	}
	>.control-group{
		align-self: flex-end;
		display: flex;
		.text-muted{
			display: none;
		}
	}

}
*/
div.buf_compilation_button {
  margin-bottom: 0;
  -webkit-box-shadow: inherit !important;
          box-shadow: inherit !important;
  margin-left: 30px !important;
}

div.buf_compilation_button div.control-label {
  width: auto;
}

div.buf_compilation_button .text-muted {
  display: none;
}

div.buf_compilation_button div.controls {
  margin-left: 0px;
}

div.buf_scss_toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.buf_scss_toolbar .buf_toolbar_msg {
  color: #0a9a1e;
}

div.buf_scss_toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.buf_scss_toolbar div.buf_tb_path {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1rem;
  color: #a9a9a9;
}

div.buf_scss_toolbar .buf_toolbar_msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-content: space-between; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
}

div.buf_scss_toolbar .buf_toolbar_msg.redalert {
  color: red;
}

div.buf_scss_toolbar .buf_scss_save {
  border-radius: 4px 4px 0 0 !important;
  padding: 10px 30px;
  margin-right: 20px;
  margin-bottom: -1px;
  border: solid 1px #bfbfbf;
  border-bottom: none;
  margin-right: 30px;
}

div.buf_scss_toolbar .buf_scss_save .buf_tb_icon {
  padding-right: 6px;
  position: absolute;
  top: 4px;
  left: 6px;
}

div.jform_params_buf_layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.buf_duplicate_layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

div.buf_duplicate_layout a.buf_duplicate_layout_a span {
  margin-left: 4px;
}

div.buf_duplicate_layout .buf_duplicate_layout_msg {
  color: #ab51b4;
  padding-left: 15px;
}

div.buf_thumbs_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.buf_thumbs_wrapper div.buffavicons_thumbs_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buffavicons_thumbs_wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buffavicons_thumbs_wrapper .buffavicons_thumbs {
  padding: 10px;
  margin-left: 15px;
  background: #fdfdfd;
  border: solid 1px #e9e9e9;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 8px 0px #f5f5f5;
          box-shadow: inset 0 0 8px 0px #f5f5f5;
}

a.buf_favicon_btn_create {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fa-spin.buf-loading {
  background: none !important;
  color: #333 !important;
}

div.buf_toolbar_wrapper {
  background-color: #f7f7f7;
  padding-top: 6px;
  padding: 6px;
  padding-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.buf_toolbar_wrapper div.buf_toolbar_file_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.buf_toolbar_wrapper div.buf_toolbar_file_buttons > div {
  margin-left: 15px;
}

div.buf_toolbar_wrapper div.buf_toolbar_file_buttons div.btn_buf_clean {
  padding: 2px 8px;
  border: solid 1px rgba(247, 83, 83, 0.3);
  cursor: pointer;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

div.buf_toolbar_wrapper div.buf_toolbar_file_buttons div.btn_buf_clean a {
  text-decoration: none;
  color: #a94545;
}

div.buf_toolbar_wrapper div.buf_toolbar_file_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.buf_toolbar_wrapper div.buf_toolbar_file_info > div {
  margin-right: 15px;
}

div.buf_toolbar_wrapper .badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buf_hide {
  display: none;
}
/*# sourceMappingURL=bufadmin4.css.map */