/*******************************/
/*********   BUF   *************/
/*******************************/
/*******  MAIN style   *********/
/*******************************/
/*******************************/
/* This is the main scss file */



//IMAGES
//background-image:url(#{$img_path}yourimage.png);
//LAYOUT IMAGES
//background-image:url(#{$layout_img_path}yourimage.png);

//LAYOUT
//background-image:url(#{$layout_path}yourfile.css);


//VARIABLES
$color: #57616d;

// Bootstrap functions
@import "../../../../../media/vendor/bootstrap/scss/functions";

// Variables, Functions and Mixins
@import "../../../../cassiopeia/scss/tools/tools";

// Bootstrap
@import "../../../../../media/vendor/bootstrap/scss/variables";
@import "../../../../../media/vendor/bootstrap/scss/bootstrap";

// jQuery Minicolors
@import "../../../../../media/system/scss/jquery-minicolors";
 
// Blocks
@import "../../../../cassiopeia/scss/blocks/global"; // Leave this first
@import "../../../../cassiopeia/scss/blocks/alerts";
@import "../../../../cassiopeia/scss/blocks/back-to-top";
@import "../../../../cassiopeia/scss/blocks/banner";
@import "../../../../cassiopeia/scss/blocks/footer";
@import "../../../../cassiopeia/scss/blocks/form";
@import "../../../../cassiopeia/scss/blocks/frontend-edit";
@import "../../../../cassiopeia/scss/blocks/header";
@import "../../../../cassiopeia/scss/blocks/icons";
@import "../../../../cassiopeia/scss/blocks/iframe";
@import "../../../../cassiopeia/scss/blocks/layout";
@import "../../../../cassiopeia/scss/blocks/modals";
@import "../../../../cassiopeia/scss/blocks/modifiers";
@import "../../../../cassiopeia/scss/blocks/utilities";
@import "../../../../cassiopeia/scss/blocks/toolbar";
@import "../../../../cassiopeia/scss/blocks/legacy";
@import "../../../../cassiopeia/scss/blocks/tags";
@import "../../../../cassiopeia/scss/blocks/css-grid"; // Last to allow fallback

// Vendor overrides
@import "../../../../cassiopeia/scss/vendor/awesomplete";
@import "../../../../cassiopeia/scss/vendor/bootstrap/buttons";
@import "../../../../cassiopeia/scss/vendor/bootstrap/custom-forms";
@import "../../../../cassiopeia/scss/vendor/bootstrap/collapse";
@import "../../../../cassiopeia/scss/vendor/bootstrap/dropdown";
@import "../../../../cassiopeia/scss/vendor/bootstrap/forms";
@import "../../../../cassiopeia/scss/vendor/bootstrap/lists";
@import "../../../../cassiopeia/scss/vendor/bootstrap/modal";
@import "../../../../cassiopeia/scss/vendor/bootstrap/nav";
@import "../../../../cassiopeia/scss/vendor/bootstrap/pagination";
@import "../../../../cassiopeia/scss/vendor/bootstrap/table";
@import "../../../../cassiopeia/scss/vendor/chosen";
@import "../../../../cassiopeia/scss/vendor/dragula";
@import "../../../../cassiopeia/scss/vendor/metismenu/metismenu";
@import "../../../../cassiopeia/scss/vendor/minicolors";
@import "../../../../cassiopeia/scss/vendor/tinymce";


//right
div.buf_right{
	background:#d9ebeb;
}

//left
div.buf_left{
	background:#d9ebeb;
}

/* YOUR CSS HERE */
// ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ //
//////////////MOBILE////////////////

@media (max-width: 767px) {
	@import 'mobile.scss';
}


//므 므 므 므 므 므 므 므 므 므 므 므 므 므//
//////////////TABLET////////////////

@media (min-width: 768px) {
    @import "tablet.scss";
}

@media (min-width: 992px) {
    @import "laptop.scss";
}

@media (min-width: 1200px) {
    @import "desktop.scss";
}

@media (min-width: 1400px) {
    @import "tv.scss";
}

@media print {
    @import "print.scss";
}

