/*******************************/
/*********   BUF   *************/
/*******************************/
/*******  base style   *********/
/*******************************/
/*******************************/
/* This styles are loaded at first stage. */
/* Put here only the necessary elements */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
  opacity:0;
}

body {
    margin: 0;
}
p {
    margin: 0 0 10px;
}

@import 'http://localhost/online/4dev/cache/mod_totalmenu/totalmenu109_desktop_custom.scss';


//BOOTSTRAP ////////////////////////////
//////////////////////////////////////
.img-fluid {
    max-width: 100%;
    height: auto;
}



:root{
	--bs-body-color:#123456 !important;
}

body{
    //background-color: indigo;
}
div.wrapper_contents p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

div#dxmenu_pral #tm_navbar > ul.totalmenu{
	opacity: 0;
}
div#dxmenu_pral{
	background-color: #57616d;
}

div.bg{
	position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
	img{
		height: 100%;
    	width: 100%;
	}
}



@media (min-width: 768px){
	.container {
	    width: 750px;
	}
}

@media (min-width: 992px){
	.container {
	    width: 970px;
	}
}

@media (min-width: 1200px){
	.container {
	    width: 1170px;
	}
}
