@media (min-width: 1200px) {
  .container-fluid {
    max-width: 100%;
  }
  .container {
    max-width: 1800px;
  }
  #contents.container-fluid {
    max-width: 1920px;
  }
  #contents.container {
    max-width: 1920px;
  }
}
#bufoc_button {
  -ms-flex-pack: justify;
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 200ms;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
/*
   * Arrow Turn Right
   */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg);
}
.hamburger--arrowturn-r.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.hamburger--arrowturn-r.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
/*
// Hamburger types
// ==================================================
@import "types/3dx";
@import "types/3dx-r";
@import "types/3dy";
@import "types/3dy-r";
@import "types/3dxy";
@import "types/3dxy-r";
@import "types/arrow";
@import "types/arrow-r";
@import "types/arrowalt";
@import "types/arrowalt-r";
@import "types/arrowturn";
@import "types/arrowturn-r";
@import "types/boring";
@import "types/collapse";
@import "types/collapse-r";
@import "types/elastic";
@import "types/elastic-r";
@import "types/emphatic";
@import "types/emphatic-r";
@import "types/minus";
@import "types/slider";
@import "types/slider-r";
@import "types/spin";
@import "types/spin-r";
@import "types/spring";
@import "types/spring-r";
@import "types/stand";
@import "types/stand-r";
@import "types/squeeze";
@import "types/vortex";
@import "types/vortex-r";
*/
#bufoc_button.buf_oc_hide {
  display: none;
}
#bufoc_button.buf_oc_show {
  display: block !important;
}
#bufoc_button.buf_oc_show_flex {
  display: flex;
}
div.buf_topbar_logo {
  display: flex;
}
div.buf_topbar_logo.pos_l {
  justify-content: flex-start;
}
div.buf_topbar_logo.pos_c {
  justify-content: center;
}
div.buf_topbar_logo.pos_r {
  justify-content: flex-end;
}
#buf_topbar.buf_topbar_on {
  background: #db0303;
  height: 54px;
}
#buf_topbar.buf_topbar_on.buf_oc_hide {
  display: none;
}
#buf_topbar.buf_topbar_on div.buf_topbar_logo img {
  max-height: 54px;
}
#buf_topbar_oc.buf_topbar_oc_on {
  background: #ffffff;
  height: 54px;
}
#buf_topbar_oc.buf_topbar_oc_on div.buf_topbar_logo img {
  max-height: 54px;
}
#bufoc_button {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -ms-flex-item-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  border: none;
  position: fixed;
  outline: none;
  z-index: 5000;
}
#bufoc_button span.hamburger-inner {
  background-color: #0008eb;
}
#bufoc_button span.hamburger-inner:before, #bufoc_button span.hamburger-inner:after {
  background-color: #0008eb;
}
#bufoc_button:hover span.hamburger-inner {
  background-color: #3aa807;
}
#bufoc_button:hover span.hamburger-inner:before, #bufoc_button:hover span.hamburger-inner:after {
  background-color: #3aa807;
}
#bufoc_button.is-active span.hamburger-inner {
  background-color: black;
}
#bufoc_button.is-active span.hamburger-inner:before, #bufoc_button.is-active span.hamburger-inner:after {
  background-color: black;
}
#bufoc_button.oc_button_hpos_left {
  left: 0;
}
#bufoc_button.oc_button_hpos_middle {
  left: calc(50% - 25px);
}
#bufoc_button.oc_button_hpos_right {
  right: 0;
}
#bufoc_button.oc_button_vpos_top {
  top: 0;
}
#bufoc_button.oc_button_vpos_middle {
  top: calc(50% - 25px);
}
#bufoc_button.oc_button_vpos_bottom {
  bottom: 0;
}
html.buff_canvas_on {
  overflow: hidden;
}
html.buff_canvas_on div#superwrapper {
  /*
		-webkit-transition: box-shadow 0.3s ease-in-out 0s;
		-moz-transition: box-shadow 0.3s ease-in-out 0s;
		-o-transition: box-shadow 0.3s ease-in-out 0s;
		-ms-transition: box-shadow 0.3s ease-in-out 0s;
		*/
  transition: transform 200ms, opacity 200ms;
}
#buf_offcanvas {
  transition: transform 200ms, opacity 200ms, box-shadow 200ms;
  will-change: transform;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow: hidden;
  contain: strict;
  display: block;
  background: #e31616;
  z-index: 4999;
}
#buf_offcanvas.buff_off_animate {
  transition: transform 0ms;
}
#buf_offcanvas.buf_off_pos_right {
  left: 100%;
  transform: translateX(0%);
}
#buf_offcanvas.buf_off_pos_left {
  left: 0%;
  transform: translateX(-102%);
}
#buf_offcanvas div.offcanvas-inner {
  display: block;
  contain: layout size style;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  display: block;
  overflow-y: auto;
}
#buf_offcanvas div.offcanvas-inner img {
  max-width: 100%;
}
body.buf_oc_mobile #buf_offcanvas {
  width: 100%;
}
body.buf_oc_desktop #buf_offcanvas {
  width: 40%;
}
body.offcanvas_show div#superwrapper {
  overflow: hidden;
}
body.offcanvas_show #buf_offcanvas {
  display: inherit;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
body.offcanvas_show #buf_offcanvas.buf_off_pos_right {
  left: 100%;
  transform: translateX(-100%);
}
body.offcanvas_show #buf_offcanvas.buf_off_pos_left {
  left: 0%;
  transform: translateX(0%);
}
body.offcanvas_show.buf_oc_mobile div.superwrapper.buf_off_move.buf_off_pos_left {
  transform-origin: left;
  transform: translateX(100%);
  touch-action: none;
}
body.offcanvas_show.buf_oc_mobile div.superwrapper.buf_off_move.buf_off_pos_right {
  transform-origin: right;
  transform: translateX(-100%);
  opacity: 0.1;
  touch-action: none;
}
body.offcanvas_show.buf_oc_desktop div.superwrapper.buf_off_move.buf_off_pos_left {
  transform-origin: left;
  transform: translateX(40%);
  touch-action: none;
}
body.offcanvas_show.buf_oc_desktop div.superwrapper.buf_off_move.buf_off_pos_right {
  transform-origin: right;
  transform: translateX(-40%);
  opacity: 0.1;
  touch-action: none;
}
body.buf_offcanvas_hidden #buf_offcanvas {
  box-shadow: none;
}
body.buf_offcanvas_hidden #buf_offcanvas div.offcanvas-inner {
  display: none;
}
/* COMMON LESS
*********************************************/
.clearfix {
  clear: both;
}
div#superwrapper {
  opacity: 1;
}
#buf_topbar {
  opacity: 1;
}
body.modal-open {
  padding-right: 0px !important;
}
div.mainwrapper {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  margin-bottom: 100px;
}
div.flex_wrapper {
  display: flex;
}
html {
  overflow-y: scroll;
  overflow-y: auto;
}
figure.newsflash-image img, div.newsflash img {
  max-width: 100%;
  height: auto;
}
.banner_page {
  width: 100%;
}
div.bg {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
div.bg img {
  height: 100%;
  width: 100%;
}
.buf_nopadding {
  padding: 0;
}
div.pagination {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}
div.pagination p.counter {
  font-size: small;
  clear: both;
}
div.buf_dev_mode {
  position: fixed;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.16);
  width: 100%;
  padding: 4px 10px;
  color: #7b0c38;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(2px);
}
div.buf_dev_mode a.buf_dev_mode_close {
  cursor: pointer;
}
div.buf_dev_mode a.buf_dev_mode_close:hover {
  text-decoration: underline;
}
div.buf_credits {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #bbb;
  padding: 10px;
  justify-content: flex-end;
}
div.buf_credits p {
  margin: 0px;
}
div.buf_credits div.buf_credit_logo {
  margin-right: 5px;
}
div.buf_credits div.buf_credit_logo img {
  max-height: 28px;
}
div.buf_credits a {
  color: #999;
}
/* BUF ACCORDEON
*********************************************/
div.bufaccordion_wrapper {
  margin-bottom: 15px;
  margin-top: 15px;
}
div.bufaccordion_wrapper div.card-header {
  cursor: pointer;
}
div.bufaccordion_wrapper div.card-header h1, div.bufaccordion_wrapper div.card-header h2, div.bufaccordion_wrapper div.card-header h3, div.bufaccordion_wrapper div.card-header h4, div.bufaccordion_wrapper div.card-header h5, div.bufaccordion_wrapper div.card-header h6 {
  margin: 0px;
}
div.bufaccordion_wrapper div.card-header .buf_accordion_header_image img {
  width: 100px;
  max-width: 100%;
}
div.bufaccordion_wrapper div.card-header .svg-inline--fa, div.bufaccordion_wrapper div.card-header .fas {
  transition: all 300ms;
}
div.bufaccordion_wrapper div.card-header.collapsed div.buf_accordion_header_icon .svg-inline--fa, div.bufaccordion_wrapper div.card-header.collapsed div.buf_accordion_header_icon .fas {
  transform: rotate(-90deg);
}
div.buf_bs_card .card-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}
div.buf_bs_card .card-wrapper .card {
  height: 100%;
}
div.buf_bs_card div.item-image img {
  max-width: 100%;
  height: auto;
  width: 100%;
}
.breadcrumbs nav.breadcrumb_buf .breadcrumb {
  flex-wrap: nowrap;
  overflow: auto;
  padding: 0.5rem 1rem;
}
.breadcrumbs nav.breadcrumb_buf .breadcrumb li.breadcrumb-item {
  white-space: nowrap;
}
.breadcrumbs nav.breadcrumb_buf .breadcrumb li.breadcrumb-item a, .breadcrumbs nav.breadcrumb_buf .breadcrumb li.breadcrumb-item span {
  white-space: nowrap;
}
.breadcrumbs nav.breadcrumb_buf .breadcrumb li.breadcrumb-item.active {
  padding-right: 15px;
}
@media (max-width: 767px) {
  div.offcanvas {
    padding: 0px;
  }
  div.pagination {
    align-items: inherit;
    text-align: center;
  }
  div.pagination ul.pagination {
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) {
  @keyframes opacidad {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
/*******************************/
/*********   BUF   *************/
/*******************************/
/*******  MAIN style   *********/
/*******************************/
/*******************************/
/* This is the main scss file */
.item-image img {
  max-width: 100%;
  height: auto;
}
div.buf_right {
  background: #d9ebeb;
}
div.buf_left {
  background: #d9ebeb;
}
/* YOUR CSS HERE */
@media (max-width: 767px) {
  /*******************************/
  /*********   BUF   *************/
  /*******************************/
  /*******  MOBILE style   *********/
  /*******************************/
  /*******************************/
  /******* UP TO 767PX *********/
}
@media (min-width: 768px) {
  /*******************************/
  /*********   BUF   *************/
  /*******************************/
  /*******  TABLET style   *********/
  /*******************************/
  /*******************************/
  /******* 767PX  and upper *********/
}
@media (min-width: 992px) {
  /*******************************/
  /*********   BUF   *************/
  /*******************************/
  /*******  LAPTOP style   *********/
  /*******************************/
  /*******************************/
  /******* 992px  and upper *********/
}
@media (min-width: 1200px) {
  /*******************************/
  /*********   BUF   *************/
  /*******************************/
  /*******  DESKTOP style   *********/
  /*******************************/
  /*******************************/
  /******* 1200px  and upper *********/
}
@media (min-width: 1400px) {
  /*******************************/
  /*********   BUF   *************/
  /*******************************/
  /*******  TV style   *********/
  /*******************************/
  /*******************************/
  /******* 1400px  and upper *********/
}
@media print {
  /*******************************/
  /*********   BUF   *************/
  /*******************************/
  /*******  PRINT style   *********/
  /*******************************/
  /*******************************/
}
