/*******************************/
/*********   BUF   *************/
/*******************************/
/*******  MAIN style   *********/
/*******************************/
/*******************************/
/* This is the main scss file */






div.jtb_price_cal_wrapper{
  
  div.jtb_price_cal{
    min-width: 54px;
    max-width: 54px;
    background: #f7f7f7;
    text-align: center;
    border-radius: 4px 4px 14px 14px;
    overflow: hidden;
    box-shadow: -1px 3px 4px rgb(0 0 0 / 28%);
    >div{
      width:100%;
    }
  }
  
  .jtb_price_cal_day{
    background: #b70000;
    color:#fff;
    font-size:0.8rem;
  }
  .jtb_price_cal_daynum{
  	background:#fff;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .jtb_price_cal_month{
     font-size:1rem;
    
  }
  .jtb_price_cal_year{
     font-size: 0.7rem;
     font-weight: bold;
  }
  
  .jtb_price_cal_to{
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .jtb_price_time{
    margin-left: 15px;
    margin-right: 5px;
    min-width: 45px;
    max-width: 64px;
    background: #f7f7f7;
    text-align: center;
    border-radius: 7px;
    overflow: hidden;
    //box-shadow: 0px -1px 4px rgb(0 0 0 / 28%);
    .jtb_price_time_start{
      font-size: 0.7rem;
      font-weight: bold;
    }
    .jtb_price_time_end{
      font-size: 0.7rem;
      font-weight: bold;
    }
  }
  
  
  
}





























//IMAGES
//background-image:url(#{$img_path}yourimage.png);
//LAYOUT IMAGES
//background-image:url(#{$layout_img_path}yourimage.png);

//LAYOUT
//background-image:url(#{$layout_path}yourfile.css);


//VARIABLES
$color: #57616d;

//MIXINS
@mixin vag(){
    font-family: 'Varela Round', sans-serif;
}

//utils
.item-image{
	img{
		max-width: 100%;
		height: auto;
	}
}



//right
div.buf_right{
	background:#d9ebeb;
}

//left
div.buf_left{
	background:#d9ebeb;
}

/* YOUR CSS HERE */
// ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ ☎ //
//////////////MOBILE////////////////

@media (max-width: 767px) {
	@import 'mobile.scss';
}


//므 므 므 므 므 므 므 므 므 므 므 므 므 므//
//////////////TABLET////////////////

@media (min-width: 768px) {
    @import "tablet.scss";
}

@media (min-width: 992px) {
    @import "laptop.scss";
}

@media (min-width: 1200px) {
    @import "desktop.scss";
}

@media (min-width: 1400px) {
    @import "tv.scss";
}

@media print {
    @import "print.scss";
}

